<section id="contato" class="contact-section">
  <div class="contact-container">

    <div class="contact-info">
      <h2 class="contact-title">Entre em contato!</h2>
      <p class="contact-description">
        Entre em contato com a Dafiner Beauty para agendar seu horário, tirar dúvidas ou garantir unhas impecáveis com um atendimento personalizado.
      </p>

      <a href="https://wa.me/5511930345191?text=Olá!%20Gostaria%20de%20agendar%20um%20horário."
         target="_blank"
         class="btn-whatsapp">
        <img src="assets/icons/path4.png" alt="WhatsApp">
        Entrar em contato
      </a>
    </div>

    <div class="contact-links">

      <div class="contact-item">
        <div class="icon-box">
          <img src="assets/icons/icon-location.png" alt="Endereço">
        </div>
        <span>Av. Jurema, 383</span>
      </div>

      <div class="contact-item">
        <div class="icon-box">
          <img src="assets/icons/icon-email.png" alt="Email">
        </div>
        <span>contato&#64;dafinerbeauty.com</span>
      </div>

    </div>

  </div>
</section>
