<section id="sobre" class="about-section">
  <div class="about-content">
    <h1>Sobre mim</h1>
  </div>
  <div class="text">
    <p>Sou manicure profissional há 4 anos, apaixonada por realçar a beleza através de <br> unhas bem cuidadas e com
      acabamento impecável. <br> Tenho experiência em esmaltação tradicional e atuo há mais de 1 ano e 5 meses <br> com
      unhas de gel, realizando alongamentos e manutenções com qualidade e <br> durabilidade. <br> Sou comunicativa,
      atenciosa e detalhista, sempre focada em entender o estilo de <br> cada cliente para entregar um resultado
      personalizado e do jeitinho que ela <br> deseja. <br> Estou em constante aperfeiçoamento, acompanhando tendências
      e buscando <br> oferecer um atendimento cada vez melhor. <br> Atualmente, atendo em Moema, no salão Santa
      Cabeleira, proporcionando uma <br> experiência de cuidado, autoestima e bem-estar.
      perfeito.</p>
  </div>

  <div class="about-image">
    <div class="blue-backdrop"></div> <img src="assets/about-working.png" alt="Foto da profissional">
  </div>
</section>
