<section id="servicos">
  <div class="services-section">

    <div class="services-header">
      <h2 class="header-title">Serviços</h2>

      <p class="header-description">
        Com mais de 4 anos de experiência no mercado, já conquistei a confiança de diversas clientes, oferecendo unhas com qualidade, durabilidade e atenção a cada detalhe.
      </p>
    </div>

    <div class="cards">
      <section class="service-card">
        <div class="icon-container">
          <img src="assets/icons/icon-spa.png" alt="Ícone Spa dos Pés">
        </div>
        <h3 class="title">Spa dos Pés</h3>
        <p class="description">Cuidado completo com hidratação, limpeza e acabamento, proporcionando pés sempre saudáveis e bonitos.</p>
        <div class="card-footer-line"></div>
      </section>

      <section class="service-card">
        <div class="icon-container">
          <img src="assets/icons/iconTraditional.png" alt="Ícone Unha Tradicional">
        </div>
        <h3 class="title">Unha Tradicional</h3>
        <p class="description">Cutilagem e esmaltação com acabamento preciso, valorizando a beleza natural das unhas com cuidado e brilho.</p>
        <div class="card-footer-line"></div>
      </section>

      <section class="service-card">
        <div class="icon-container">
          <img src="assets/icons/icon-gel.png" alt="Ícone Unhas de Gel">
        </div>
        <h3 class="title">Unhas de Gel</h3>
        <p class="description">Alongamento e manutenção com alta durabilidade, resistência e acabamento elegante por muito mais tempo.</p>
        <div class="card-footer-line"></div>
      </section>
    </div>
  </div>
</section>
